/* Arka Plan */
.site-background {
  background: url('res/arka-plan.png') repeat;
  background-size: cover;
  min-height: 100vh;
}


/* Üst Boşluk */
.top-space {
  height: 60px; /* daha fazla boşluk */
}

/* Header Menü Bar */
.menu-bar {
  padding: 8px 0; /* daha kısa header */
  background-color: white;
  z-index: 1;
  position: relative;
}

/* Menü Linkleri */
.menu-link {
  font-weight: bold;
  color: #d90463;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s;
  margin-right: 50px;
  padding-left: 50px;
}

.menu-link-aktivite{
  font-weight: bold;
  color: #d90463;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s;
  margin-left:20px;
  margin-right: 50px;
}

.menu-link:hover {
  color: #ad1457;
  text-decoration: underline;
}

/* Logo */
.logo-link {
  position: relative;
}

.header-logo {
  height: 140px;
  margin-top: -100px; /* logoyu yukarı taşıyoruz (yeşil çizgilerin üstüne ve main üstüne) */
  margin-bottom: -100px;
  z-index: 3;
}

/* Yeşil Şeritler */

.acik-yesil {
  height: 12px;
  background: #AADA91;
  
}
.koyu-yesil{
  height: 12px;
  background: #008542;
  
}

/* Main */
main {
  background-color: white;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 0; /* kenarlar düz */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


 /* Carousel Özellikleri */
 .carousel-item img {
  width: auto;
  height: auto;
  border-radius: 20px 20px 10px 10px; /* Üst kısmı oval, alt kısmı daha hafif oval */
  border: 12px solid #D30057; /* Pembe Renkli Çerçeve */
 
  height: 100%; /* Yüksekliği %100 yaparak görselin tamamının görünmesini sağlıyoruz */
  object-fit: cover; /* Resmin boyutunu düzgün şekilde sığdırır */
}

.carousel-inner {
  max-height: 1600px;
  padding-left: 15px; /* Kenarlarda boşluk bırak */
  padding-right: 15px;
  
}

/* Carousel Caption (Cümleler) */
.carousel-caption {
  font-size: 1.5rem;
  color: #f78fb3; /* Pembe Renkli Yazı */
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 5px;
  
}

/* Boşlukları düzenledim */


/* Prev ve Next Butonları Ortalı */
.text-pink {
  color: #e10068;
  font-weight: bold;
  font-size: 17px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #5cab52;
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  width: 0;
  height: 0;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%235cab52" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L3 8l8 7"/></svg>');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%235cab52" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M5 1l8 7-8 7"/></svg>');
}


/* Footer */
footer {
  background-color: white;
  margin-top: 0;
  width: 100%;
}





